{% extends 'lms/ncertuser.html'%}
{% block ncert%}


<div style = 'position:fixed;
    top: 50%;
    left: 50%;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    '>
	
<button type="button" class="btn btn-secondary">Upload</button>
<button type="button" class="btn btn-secondary">Add</button>
<button type="button" class="btn btn-secondary">Edit </button>
<button type="button" class="btn btn-secondary">Delete</button>
<button type="button" class="btn btn-secondary">Browse</button>

</div>



{% endblock %}