{%extends 'lms/ncertuser.html'%}
{% load static %}

{% block ncert%}
<!-- <div id = "cards" class="card" style="width: 18rem;">
    <img src="{% static 'ncert/img/logo.png' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Study Material</h5>
      <p class="card-text">uploaded time: 23 March 2019 <br> uploaded by: xyz</p>
      <a href="{% static 'ncert/img/logo.png' %}" class="btn btn-primary" download>View</a>
      <a id = 'accept' href="#" class="btn btn-primary accept ">Accept</a>
      <button class="btn btn-primary accept ">Accept</button>
    </div>
  </div> -->
 <div class="container">
  <div class="card leftfloat " style="width: 18rem;">
    <img src="{% static 'ncert/img/word.png' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Feedback Analysis </h5>
      <p class="card-text">upload date: 13 April 2019 <br> uploaded by : ncert </p>
      <a href="{% static 'ncert/data/Feedback Analysis.doc' %}" class="btn btn-primary" download>View</a>
    </div>
  </div>
  <div class="card " style="width: 18rem;">
    <img src="{% static 'ncert/img/pdf.png' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Feedback Analysis</h5>
      <p class="card-text">upload date: 13 April 2019 <br> uploaded by : ncert </p>
      <a href="{% static 'ncert/data/Feedback Analysis.pdf' %}" class="btn btn-primary" download>View</a>
    </div>
  </div>
  <hr>

  <div class="card leftfloat " style="width: 18rem;">
    <img src="{% static 'ncert/img/word.png' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">MCQ</h5>
      <p class="card-text">upload date: 13 April 2019 <br> uploaded by : ncert </p>
      <a href="{% static 'ncert/data/MCQ.doc' %}" class="btn btn-primary" download>View</a>
    </div>
  </div>
  <div class="card " style="width: 18rem;">
    <img src="{% static 'ncert/img/pdf.png' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">MCQ</h5>
      <p class="card-text">upload date: 13 April 2019 <br> uploaded by : ncert </p>
      <a href="{% static 'ncert/data/MCQ.pdf' %}" class="btn btn-primary" download>View</a>
    </div>
  </div>
  <hr>


<div class="card leftfloat " style="width: 18rem;">
    <img src="{% static 'ncert/img/word.png' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Peer Assessment</h5>
      <p class="card-text">upload date: 13 April 2019 <br> uploaded by : ncert </p>
      <a href="{% static 'ncert/data/Peer Assessment.doc' %}" class="btn btn-primary" download>View</a>
    </div>
  </div>
  <div class="card " style="width: 18rem;">
    <img src="{% static 'ncert/img/pdf.png' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Peer Asssessment</h5>
      <p class="card-text">upload date: 13 April 2019 <br> uploaded by : ncert </p>
      <a href="{% static 'ncert/data/Peer Assessment.pdf' %}" class="btn btn-primary" download>View</a>
    </div>
  </div>
  <hr>


  <div class="card leftfloat " style="width: 18rem;">
    <img src="{% static 'ncert/img/word.png' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Rubric</h5>
      <p class="card-text">upload date: 13 April 2019 <br> uploaded by : ncert </p>
      <a href="{% static 'ncert/data/Rubric.doc' %}" class="btn btn-primary" download>View</a>
    </div>
  </div>
  <div class="card " style="width: 18rem;">
    <img src="{% static 'ncert/img/pdf.png' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Rubric</h5>
      <p class="card-text">upload date: 13 April 2019 <br> uploaded by : ncert </p>
      <a href="{% static 'ncert/data/Rubric.pdf' %}" class="btn btn-primary" download>View</a>
    </div>
  </div>
  <hr>

  <div class="card leftfloat " style="width: 18rem;">
    <img src="{% static 'ncert/img/word.png' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Self Evaluation</h5>
      <p class="card-text">upload date: 13 April 2019 <br> uploaded by : ncert </p>
      <a href="{% static 'ncert/data/SelfEvaluation.doc' %}" class="btn btn-primary" download>View</a>
    </div>
  </div>
  <div class="card " style="width: 18rem;">
    <img src="{% static 'ncert/img/pdf.png' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Self Evaluation</h5>
      <p class="card-text">upload date: 13 April 2019 <br> uploaded by : ncert </p>
      <a href="{% static 'ncert/data/SelfEvaluation.pdf' %}" class="btn btn-primary" download>View</a>
    </div>
  </div>
  <hr>
  <div class="card " style="width: 18rem;">
    <img src="{% static 'ncert/img/pdf.png' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Worksheet</h5>
      <p class="card-text">upload date: 13 April 2019 <br> uploaded by : ncert </p>
      <a href="{% static 'ncert/data/resource1.pdf' %}" class="btn btn-primary" download>View</a>
    </div>
  </div>


</div>




<style>
    .leftfloat {
      float: left;
    }
    </style>
{% endblock ncert %}