{% extends 'lms/ncertuser.html'%}
{% block ncert%}

<div class="container">
  <h2>
    USER Management
  </h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="button" class="">Register</button><br><br><br><br><br>
   <button type="button" class="btn btn-secondary">Delete User</button>
   <button type="button" class="btn btn-secondary">Add New User</button>
   <button type="button" class="btn btn-secondary">Update User</button>
   <button type="button" class="btn btn-secondary">Search User</button>
  </form>
</div>

{% endblock %}
