{%extends 'lms/base.html'%}
{% load static%}
{%block content%}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item active">
        <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
      </li>
     
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'login' %}">Logout <span class="sr-only">(current)</span></a>
      </li> -->
      
      <li class="nav-item disable">
        <a class="nav-link" href=""><h1>Achievement Survey</h1><span class="sr-only">(current)</span></a>
      </li>
       

   </ul>


    <ul class="navbar-nav ml-auto " style="margin-right: 400px !important;" >
      <!-- <li class="nav-item active">
        <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
      </li>
     
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'login' %}">Logout <span class="sr-only">(current)</span></a>
      </li> -->
      
       <li class="nav-item active">
        <a class="nav-link" href="{% url 'login' %}">MS-DVET<span class="sr-only">(current)</span></a>
      </li>
       
       
       <li class="nav-item active">
        <a class="nav-link" href="{% url 'login' %}">INSTITUTION<span class="sr-only">(current)</span></a>
      </li>
       <li class="nav-item active">
        <a class="nav-link" href="{% url 'login' %}">TEACHER<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <select onChange="window.location.href=this.value">
          <option value="{% url 'login' %}">All</option>
          <option value="{% url 'login' %}">Ahmednagar</option>
          <option value="{% url 'login' %}">Akola</option>
          <option value="{% url 'login' %}">Amravati</option>
          <option value="{% url 'login' %}">Aurangabad</option>
          <option value="{% url 'login' %}">Beed</option>
          <option value="{% url 'login' %}">Bhandara</option>
          <option value="{% url 'login' %}">Buldhana</option>
          <option value="{% url 'login' %}">Chandrapur</option>
          <option value="{% url 'login' %}">Dhule</option>
          <option value="{% url 'login' %}">Gadchiroli</option>
          <option value="{% url 'login' %}">Gondia</option>
          <option value="{% url 'login' %}">Hingoli</option>
          <option value="{% url 'login' %}">Jalgaon</option>
          <option value="{% url 'login' %}">Jalna</option> 
          <option value="{% url 'login' %}">Kolhapur</option>
          <option value="{% url 'login' %}">Latur</option>
          <option value="{% url 'login' %}">Mumbai City</option>
          <option value="{% url 'login' %}">Mumbai Suburban</option>
          <option value="{% url 'login' %}">Nagpur</option>
          <option value="{% url 'login' %}">Nanded</option>
          <option value="{% url 'login' %}">Nandurbar</option>
          <option value="{% url 'login' %}">Nashik</option>
          <option value="{% url 'login' %}">Osmanabad</option>
          <option value="{% url 'login' %}">Palghar</option>
          <option value="{% url 'login' %}">Parbhani</option>
          <option value="{% url 'login' %}">Pune</option>
          <option value="{% url 'login' %}">Raigad</option>
          <option value="{% url 'login' %}">Ratnagiri</option>
          <option value="{% url 'login' %}">Sangli</option>
          <option value="{% url 'login' %}">Satara</option>
          <option value="{% url 'login' %}">Sindhudurg</option>
          <option value="{% url 'login' %}">Solapur</option>
          <option value="{% url 'login' %}">Thane</option>
          <option value="{% url 'login' %}">Wardha</option>
          <option value="{% url 'login' %}">Yavatmal</option>
      </select>
      
      </li>

   </ul>
      
  </div>
   <button type="button" style="margin-right: 20px !important;" class="btn btn-info btn-sm" >UPDATE AND INFORMATION</button>
   <button type="button" class="btn btn-info btn-sm" >PHOTO GALLARY</button>
</nav>



<div id="carouselExampleControls" class="carousel slide " data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'ncert/img/one.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'ncert/img/two.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'ncert/img/three.jpg' %}" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Dashboard</h1>
    <p class="lead">You Received Mail from NCERT</p>
  </div>
</div> -->

{%endblock%}