{% extends 'lms/stateuser/supportandsupervision.html'%}
{% block support%}

Onsite: 
<select>
  <option>Training</option>
  <option>Field Visit</option>
  <option>Demo Session</option>
  <!-- <option>3 Months</option> -->
</select>
<br><br>

Workshop:: 
<select>
  <option>Training</option>
  <option>Demonstration</option>
  <!-- <option>Video</option> -->
  <!-- <option>Document</option> -->
</select>
<br><br>


Online: 
<select>
  <option>Picture</option>
  <option>Audio</option>
  <option>Video</option>
  <option>Document</option>
</select>
<br><br>


<!-- <button type="button" class=">Upload</button>
<button type="button" class="">Add</button>
<button type="button" class="">Edit </button>
<button type="button" class="">Delete</button>
<button type="button" class="">Browse</button> -->



{% endblock %}