{% extends 'lms/stateuser.html'%}
{% block state %}
Select State:
<select>
	<option>Please Enter State</option>
	<option>State 1</option>
	<option>State 2</option>
	<option>State 3</option>
</select>
<br><br>

Select District:
<select>
	<option>Please Enter District</option>

	<option>District 1</option>
	<option>District 2</option>
	<option>District 3</option>
</select>
<br><br>

Select School:
<select>
	<option>Please Enter School</option>

	<option>School 1</option>
	<option>School 2</option>
	<option>School 3</option>
</select>
<br><br>

Select Class:
<select>
	<option>Please Enter Class</option>

	<option>Class 1</option>
	<option>Class 2</option>
	<option>CLass 3</option>
</select>
<br><br>

Select Subject:
<select>
	<option>Please Enter Subject</option>

	<option>Subject 1</option>
	<option>Subject 2</option>
	<option>Subject 3</option>
</select>
<br><br>

Please Enter Assessment Type : 
<select>
	<option>Please Enter Assessment</option>

  <option>Peer Assessment</option>
  <option>Portfolio Assessment</option>
  <option>Self Assessment</option>
  <option>Rubric Assessment</option>
  <option>Feedback Assessment</option>
  <option>MCQ</option>
</select>
<br><br>


Please Enter Time Period : 
<select>
	<option>Please Enter Time</option>
	
  <option>Daily</option>
  <option>Weekly</option>
  <option>Monthly</option>
</select>
<br><br>

<input type="submit" name="">

{% endblock state%}