{% extends 'lms/stateuser.html'%}
{% block state %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


Type of Resource : 
<select>
  <option>Video</option>
  <option>Audio</option>
  <option>Document</option>
  <option>Photo</option>
</select>
<br><br>


<input type="file" name="pic" ><br>
 <input type="submit"><br><br><br><br>

 
  <input type="text" placeholder="Search.." name="search">
  <button type="submit"><i class="fa fa-search"></i></button>
<button type="button" class="btn btn-secondary">Resource Library</button></br>
<button type="button" class="btn btn-secondary">Download</button>
<button type="button" class="btn btn-secondary">Print</button>



{% endblock state%}